body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #d3d3d3;
  }
  
  .success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    //background-color: #d3d3d3;
  }
  
  .card {
    background-color: #2d2d2d;
    border-radius: 16px;
    padding: 20px 30px;
    width: 360px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .confetti {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    //background: url('assets/confetti.png') no-repeat center;
    background-size: cover;
    //background-color: #d6cece;
  }
  
  .icon {
    background-color: #4caf50;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .icon img {
    width: 36px;
    height: 36px;
  }
  
  .title {
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .message {
    font-size: 0.9rem;
    color: #cccccc;
    margin-bottom: 20px;
  }
  
  .dashboard-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-button:hover {
    background-color: #43a047;
  }
  