<div class="card mb-5 mb-xl-10">
  <div class="row">
    
  <div class="col-lg-8  ">
  <div
    class="card-header border-0 cursor-pointer d-flex "
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
         
  </div>
  <ul class="nav nav-tabs" id="profileTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">
        Profile Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab">
        Change Password
      </button>
    </li>
  </ul>
  <div class="tab-content" id="profileTabsContent">
    <!-- Profile Details Tab -->
    <div class="tab-pane fade show active" id="profile" role="tabpanel">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="First name"
                  name="first_name"
                  [(ngModel)]="first_name"
                  (ngModelChange)="updateFirstName($event)"
                />
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                  name="last_name"
                  [(ngModel)]="last_name"
                  (ngModelChange)="updateLastName($event)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Email</span></label>
          <div class="col-lg-8 fv-row">
            <input
              type="email"
              class="form-control form-control-lg form-control-solid"
              placeholder="Email"
              name="candidateEmail"
              [(ngModel)]="candidateEmail"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <!-- Save Profile Button -->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Profile</ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </div>

    <!-- Change Password Tab -->
    <div class="tab-pane fade" id="password" role="tabpanel">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">New Password</span></label>
          <div class="col-lg-8 fv-row">
            <input
              type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="New Password"
              name="candidatePassword"
              [(ngModel)]="candidatePassword"
              (ngModelChange)="updatePassword($event)"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Confirm Password</span></label>
          <div class="col-lg-8 fv-row">
            <input
              type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Confirm Password"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              (ngModelChange)="checkPasswordsMatch($event)"
            />
            <div *ngIf="passwordMismatch">
              <small class="text-danger">Passwords do not match.</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Change Password Button -->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="changePassword()">
          <ng-container *ngIf="!isLoading">Change Password</ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</div>





<div class="col-lg-4 border-start  pt-5 pl-3 ">


  <div class="row col-lg-12 d-flex justify-content-center border-bottom  timer">

  <div class="col-lg-4 main-timer">
    <h2 class="m-0 ">12</h2>
    <p><b>Minutes Left</b></p>
  </div>
  </div>

  <div class="col-lg-12 p-3 mt-5">
    <div class="head-sub ">
      <h2>Subscription</h2>
    </div>
    <div class="head-det d-flex justify-content-between " ng-if="planName && planPrice">
      <p>{{planName}}</p> <p><b>${{planPrice}}</b></p>
    </div>
  </div>
  <div class="col-lg-12 mt-5 d-flex justify-content-center">
    <button class=" btn btn-primary">Upgrade</button>
  </div>


</div>
</div>
</div>
