<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/landing" [routerLinkActiveOptions]="{ exact: true }" 
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>

<!-- Resume -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/resume"
  ><span class="menu-title">Resume</span></a
  >
</div>

<!-- Job Profile -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/job-profile"
  ><span class="menu-title">Job Profile</span></a
  >
</div>

<!-- Mockinto Questions -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/mockinto-questions"
  ><span class="menu-title">Mockinto Questions</span></a
  >
</div>

<!-- Mockinto Schedule -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/mockinto-schedule"
  ><span class="menu-title">Mockinto Schedule</span></a
  >
</div>

<!-- Mockinto History -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard/mockinto-history"
  ><span class="menu-title">Mockinto History</span></a
  >
</div>

<!-- Mockinto Live -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3 mockintolive" routerLinkActive="active" routerLink="/dashboard/mockinto-live/99"
  ><span class="menu-title">Mock Interview</span></a
  >
</div>