<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl"
    [ngClass]="{'kt-containerMeeting': isMeetingProgress}">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Card-->
        <div class="card card-flush pb-0 bgi-position-y-center bgi-no-repeat mb-10">
            <!--begin::Card header-->
            <div class="card-header pt-10">
                <div class="d-flex align-items-center">
                    <!--begin::Icon-->
                    <div class="symbol symbol-circle me-5">
                        <div class="symbol-label bg-transparent text-primary border border-secondary border-dashed">
                            <i class="ki-duotone ki-profile-user">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                            </i>
                        </div>
                    </div>
                    <!--end::Icon-->
                    <!--begin::Title-->
                    <div class="d-flex flex-column">
                        <h2 class="mb-1">Live Mockinto</h2>
                        <div class="text-muted">
                           {{mockintoSchedules[0]?.jobHeader}} {{ currentDateTime }}
                        </div>
                    </div>
                    <!--end::Title-->
                </div>
                <!-- Right -->
                <div>
                    <!--begin::Wrapper-->
                    <div>
                        <!--begin::Menu-->
                        <!-- <button type="button" class="btn btn-flex btn-primary">
                            <i class="ki-duotone ki-filter fs-5 me-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </button> -->
                        <div class="btn btn-icon btn-light-primary rounded-lg me-3 border border-gray-300 text-white">
                            <i class="fa-solid fa-closed-captioning"></i>
                        </div>
                        <div
                            class="btn btn-icon btn-light-primary position-relative rounded-lg me-3 border border-gray-300">
                            <i class="fa-solid fa-microphone"></i>
                            <!-- <i class="fa-solid fa-microphone-slash"></i> -->
                        </div>
                        <button
                            class="btn btn-icon btn-light-primary position-relative rounded-lg me-3 border border-gray-300">
                            <i class="fa-solid fa-video"></i>
                        </button>
                        <button [disabled]="speechSynthesisInProgress || SpeechRecognitionisInProgress"
                            class="btn btn-danger position-relative border border-gray-300"
                            (click)="startOrStopMockinto()">
                            <span *ngIf="!isMeetingProgress">
                                <i class="fa-solid fa-phone animation-blink"></i>
                                Start Mockinto
                            </span>
                            <span *ngIf="isMeetingProgress">
                                <i class="fa-solid fa-phone-slash"></i>
                                End Mockinto
                            </span>
                        </button>
                    </div>
                    <!--end::Wrapper-->
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pb-0">
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
        <!--begin::Card-->
        <div class="card card-flush">
            <!--begin::Card body-->
            <div class="card-body">
                <section class="row bg-light-primary">
                    <section class="col-3">
                        <!--begin::Body -->
                        <div class="card-body">
                            <!--begin::Header -->
                            <div class="d-flex align-items-center mb-5">
                                <!--begin::User -->
                                <div class="d-flex align-items-center flex-grow-1">
                                    <!--begin::Info -->
                                    <div class="d-flex flex-column">
                                        <a href="javascript:void(0)" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                                            Sam Logan
                                        </a>
                                        <span class="text-gray-400 ">Sr. Analyst</span>
                                    </div>
                                    <!--end::Info -->
                                </div>
                                <!--end::User -->
                            </div>
                            <!--end::Header -->
                            <!--begin::Post -->
                            <div class="mb-5">
                                <!--begin::Image -->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-150px mb-5"
                                    [style.background-image]="'url(./assets/media/bott.jpg)'"></div>
                                <!--end::Image -->
                            </div>
                            <!--end::Post -->
                        </div>
                        <!--end::Body -->

                    </section>
                    <section class="col-9">
                        <!--  justify-content-end -->
                        <section class="pt-5 pb-3 d-flex">
                            <button
                                [disabled]="speechSynthesisInProgress || SpeechRecognitionisInProgress || !isMeetingProgress"
                                id="next_question_tooltip"
                                class="btn white-bg position-relative border border-gray-300 me-3" placement="top-start"
                                ngbTooltip="Move to next Question" (click)="onNextQuestion()">
                                <span>
                                    Next Question
                                    <i class="fa-regular fa-circle-right"></i>
                                </span>
                            </button>
                            <button
                                [disabled]="speechSynthesisInProgress || isReadyForNextQuestion || !isMeetingProgress"
                                id="record_answer_tooltip"
                                class="btn btn-danger position-relative border border-gray-300 me-5"
                                placement="top-start" ngbTooltip="Click to Record your answer"
                                (click)="onRecordAnswer()">
                                <span>
                                    <i class="fa-solid fa-headset"></i>
                                    <span *ngIf="!SpeechRecognitionisInProgress">&nbsp;Start</span>
                                    <span *ngIf="SpeechRecognitionisInProgress">&nbsp;Stop</span>
                                    Record Answer
                                </span>
                            </button>
                            <section class="p-1 bg-light-primary w-150px me-5">
                                <p class="pb-0 mb-0">Voice Pitch</p>
                                <div id="kt_slider_voice_pitch"></div>
                            </section>
                            <section class="p-1 bg-light-primary w-150px me-5">
                                <p class="pb-0 mb-0">Voice Rate</p>
                                <div id="kt_slider_voice_rate"></div>
                            </section>
                        </section>
                        <div
                            class="card-body rounded bg-gray-200 p-0 mt-2 transcriptbox position-relative d-flex align-items-start">
                            <div class="p-3">
                                <!--begin::User -->
                                <ng-container *ngFor="let currentQ of mockintoQueAnsBank">
                                    <div class="d-flex align-items-center mb-5">
                                        <div class="d-flex align-items-center flex-grow-1">
                                            <div class="d-flex flex-column">
                                                <span class="text-gray-400 fw-bold">{{currentQ.ques_timestamp}}</span>
                                                <p class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                                                    {{currentQ.question}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="row bg-light-success flex-row-reverse">
                    <section class="col-3">
                        <!--begin::Body -->
                        <div class="card-body">
                            <!--begin::Header -->
                            <div class="d-flex align-items-center mb-5">
                                <!--begin::User -->
                                <div class="d-flex align-items-center flex-grow-1">
                                    <!--begin::Info -->
                                    <div class="d-flex flex-column">
                                        <a href="javascript:void(0)" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                                     {{candidateName.firstName}} {{ candidateName.lastName }}
                                        </a>
                                        <span class="text-gray-400 "> {{mockintoSchedules[0]?.jobHeader}}
                                         </span>
                                    </div>
                                    <!--end::Info -->
                                </div>
                                <!--end::User -->
                            </div>
                            <!--end::Header -->
                            <!--begin::Post -->
                            <div class="mb-5">
                                <!--begin::Image -->
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-150px mb-5"
                                    [style.background-image]="'url(./assets/media/avatars/300-5.jpg)'"></div>
                                <!--end::Image -->
                            </div>
                            <!--end::Post -->
                        </div>
                        <!--end::Body -->
                    </section>
                    <section class="col-9 mt-5">
                        <div class="card-body rounded bg-gray-200 p-0 mt-5 transcriptboxcandidate">
                            <div class="p-3">
                                <ng-container *ngFor="let currentQ of mockintoQueAnsBank">
                                    <div class="d-flex align-items-center mb-5">
                                        <div class="d-flex align-items-center flex-grow-1">
                                            <div class="d-flex flex-column">
                                                <span class="text-gray-400 fw-bold">{{currentQ.ans_timestamp}}</span>
                                                <p class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                                                    {{currentQ.answer}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Post-->
</div>
<!--end::Container-->

<!--begin::Toast-->
<div class="position-fixed top-0 end-0 p-3 z-index-9999">
    <div id="kt_docs_toast_toggle" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="ki-duotone ki-abstract-19 fs-2 text-danger me-3"><span class="path1"></span><span
                    class="path2"></span></i>
            <strong class="me-auto">Success</strong>
            <small>11 secs ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            File addedd successfully!
        </div>
    </div>
</div>
<!--end::Toast-->

<!-- Loader -->
<section class="overlay-loader" *ngIf="isLoading$ | async">
    <!-- <mat-spinner color="warn"></mat-spinner> -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex-column justify-content-center text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Please wait your session is being loaded...</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Loader -->